<footer class="site-footer">

  <div class="wrapper">

    <center>
      
      {% include routes.html %}

      <span><script>document.write(new Date().getFullYear());</script></span>
      <span>&copy;</span>
      
      <a class="link" href="{{ site.baseurl }}">{{ site.name }}</a>
      <br>
      <span>Author &copy; <a class="link" href="https://twitter.com/jordanalimi" target="_blank"> Jordan Alimi</a> | </span>
      <iframe
	 style="margin-left: 2px; margin-bottom:-5px;"
	 frameborder="0" scrolling="0" width="91px" height="20px"
	 src="https://ghbtns.com/github-btn.html?user=jordanalimi&repo=JordanAlimi.github.io&type=star&count=true" >
      </iframe>

    </center>
    
  </div>

</footer>
